<div class="mainpage">
    <app-page-header></app-page-header>
    <div class="wrapper">
        <div class="content">
            <div class="header">
                Your squad
            </div>
            <div fxLayoutAlign="center" fxLayout="row wrap" fxLayoutGap="grid">
                <div class="article" fxFlex="20%" fxFlex.xs="100%" fxFlex.sm="33%"
                    *ngFor="let fighter of fighters | orderBy: 'token' : true">
                    <mat-card>
                        <mat-card-header>
                            <mat-card-title>{{fighter.metadata.name}}{{fighter.token}}</mat-card-title>
                        </mat-card-header>
                        <div class="img">
                            <img *ngIf="fighter?.metadata?.image?.startsWith('http')" mat-card-image
                                [src]="fighter.metadata.image" onerror="this.src='/assets/img/siluette.png';">
                        </div>
                        <mat-card-content>
                            <p>
                                {{fighter.metadata.description}}
                            </p>
                        </mat-card-content>
                        <mat-card-actions>
                            <a routerLink="/detail/{{fighter.address}}/{{fighter.token}}"
                                class="btn btn-success btn-round">DETAIL</a>
                            <a *ngIf="allowedKennel && fighter?.ownerOf.toLowerCase() === walletInfo?.wallet.toLowerCase() && walletInfo?.isConnected === true && fighter.imageUploaded && !fighter?.waiting"
                                class="btn btn-primary btn-round" (click)="fight(fighter)">FIGHT</a>
                            <a href="https://testnet.bscscan.com/tx/{{fighter.tx}}"
                                *ngIf="waitingKennel && fighter?.ownerOf.toLowerCase() === walletInfo?.wallet.toLowerCase() && walletInfo?.isConnected === true"
                                class="btn btn-info btn-round" title="Click to show transaction"
                                target="_blank">WAITING</a>
                            <a *ngIf="!allowedKennel && !waitingKennel && fighter?.ownerOf.toLowerCase() === walletInfo?.wallet.toLowerCase() && walletInfo?.isConnected === true"
                                href="javascript: void(0);" class="btn btn-danger btn-round"
                                (click)="approveKennel()">APPROVE</a>
                            <a (click)="revealFighter(fighter)"
                                *ngIf="fighter?.ownerOf.toLowerCase() === walletInfo?.wallet.toLowerCase() && walletInfo?.isConnected === true && !fighter.imageUploaded && !fighter?.waiting"
                                class="btn btn-warning btn-round">REVEAL</a>
                        </mat-card-actions>
                    </mat-card>
                </div>
            </div>
        </div>
    </div>
    <app-page-bottom></app-page-bottom>
</div>I