.logo {
    font-weight: bolder;
    font-size: xx-large;
    a {
        text-decoration: none;
    }
}


.light .navbar {
    background: white;
}

.dark .navbar {
    background: rgb(32, 32, 32);
}

.btn {
    cursor: initial;
}

.btn:hover {
    box-shadow: initial;
}

:host {
    ::ng-deep .mat-badge-content {
        width: auto;
        padding: 0px 5px;
        border-radius: 5px;
    }
}

#navbarSupportedContent {
    justify-content: space-between;
}

.buttons-price {
    text-align: center;
}