.logo {
    font-weight: bolder;

    a {
        color: black;
        text-decoration: none;
    }
}

.navbar {
    background: white;
}

.btn {
    cursor: initial;
}

.btn:hover {
    box-shadow: initial;
}

:host {
    ::ng-deep .mat-badge-content {
        width: auto;
        padding: 0px 5px;
        border-radius: 5px;
    }
}
