<ul class="navbar-nav">
    <li class="nav-item switcher">
        <a href="javascript:void(0)" (click)="switchColor()"><span class="material-icons">
            light_mode
            </span>            
        </a>
    </li>    
    <li class="nav-item" *ngIf="walletInfo && walletInfo?.wallet!=='' && walletInfo.isConnected">
        <a href="javascript:void(0)" class="btn btn-warning btn-round" href="javascript:void(0)"
            routerLink="/dashboard">Your fighters</a>
    </li>
    <li class="nav-item">
        <a *ngIf="!walletInfo?.wallet" href="javascript:void(0)" class="btn btn-primary btn-round"
            (click)="connectWallet()">Wallet</a>
        <span *ngIf="walletInfo && walletInfo?.wallet!==''" [matBadge]="walletInfo.network?.replace(' network','')"
            [matBadgeColor]="badgeColor"><a href="javascript:void(0)" class="btn btn-info btn-round walletinfo"
                [title]="'Network: ' + walletInfo.network" (click)="showMenu=!showMenu">
                {{walletInfo?.wallet.substr(0,4)}}...{{walletInfo?.wallet.substr(-5)}}</a></span>
        <div *ngIf="showMenu" class="dropdown-menu dropdown-menu-right show" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="javascript:void(0)" (click)="showMenu=false; logout()">Logout</a>
        </div>

    </li>
</ul>