<div class="navbar-nav">
    <span *ngIf="info?.tokenAddress && info?.tokenAddress !==''" class="nav-item buy-token">
        <a href="{{swapURL}}{{info?.tokenAddress}}" target="_blank" class="btn btn-danger btn-round">Buy {{info?.tokenSymbol}}</a>
    </span>      
    <span class="nav-item buy-kennel">
        <a href="{{swapURL}}{{kenneladdress}}" target="_blank" class="btn btn-danger btn-round">Buy Kennel</a>
    </span>      
    <span class="nav-item switcher">
        <a href="javascript:void(0)" (click)="switchColor()"><span class="material-icons">
            light_mode
            </span>            
        </a>
    </span>    
    <span class="nav-item" *ngIf="walletInfo && walletInfo?.wallet!=='' && walletInfo.isConnected">
        <a href="javascript:void(0)" class="btn btn-warning btn-round" href="javascript:void(0)"
            routerLink="/dashboard">Your fighters</a>
    </span>
    <span class="nav-item">
        <a *ngIf="!walletInfo?.wallet" href="javascript:void(0)" class="btn btn-primary btn-round"
            (click)="connectWallet()">Wallet</a>
        <span *ngIf="walletInfo && walletInfo?.wallet!==''" [matBadge]="walletInfo.network?.replace(' network','')"
            [matBadgeColor]="badgeColor"><a href="javascript:void(0)" class="btn btn-info btn-round walletinfo"
                [title]="'Network: ' + walletInfo.network" (click)="showMenu=!showMenu">
                {{walletInfo?.wallet.substr(0,4)}}...{{walletInfo?.wallet.substr(-5)}}</a></span>
        <div *ngIf="showMenu" class="dropdown-menu dropdown-menu-right show" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="javascript:void(0)" (click)="showMenu=false; logout()">Logout</a>
        </div>

    </span>
</div>