<div class="mainpage">
    <app-page-header></app-page-header>
    <div class="wrapper">
        <div class="content" *ngIf="fighter">
            <mat-drawer-container [hasBackdrop]="false">
                <mat-drawer #drawer mode="side" class="help-text">Lorem ipsum dolor sit amet, consectetuer adipiscing
                    elit. Integer imperdiet lectus quis
                    justo.
                    Etiam dui sem, fermentum vitae, sagittis id, malesuada in, quam. Ut enim ad minim
                    veniam, quis
                    nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem
                    ipsum dolor
                    sit amet, consectetuer adipiscing elit. Curabitur ligula sapien, pulvinar a vestibulum
                    quis,
                    facilisis vel sapien. Fusce aliquam vestibulum ipsum. Lorem ipsum dolor sit amet,
                    consectetuer
                    adipiscing elit. Praesent vitae arcu tempor neque lacinia pretium. Maecenas lorem. Donec
                    ipsum
                    massa, ullamcorper in, auctor et, scelerisque sed, est. Sed ac dolor sit amet purus
                    malesuada
                    congue. Vivamus ac leo pretium faucibus. Quis autem vel eum iure reprehenderit qui in ea
                    voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat
                    quo
                    voluptas nulla pariatur? Fusce suscipit libero eget elit. Mauris elementum mauris vitae
                    tortor.</mat-drawer>
                <mat-drawer-content>
                    <button mat-fab aria-label="Show help" (click)="drawer.toggle()" class="toogle" color="primary">
                        <mat-icon>live_help</mat-icon>
                    </button>
                    <div class="header">
                        {{fighter.metadata.name}}
                        <div class="buttons"
                            *ngIf="!allowed && walletInfo?.isConnected === true && fighter.ownerOf?.toLowerCase() === walletInfo?.wallet.toLowerCase()">
                            <a *ngIf="!waiting" href="javascript: void(0);" class="btn btn-danger btn-round"
                                title="Approve your {{prices.tokenSymbol}} for fighter improvements"
                                (click)="approve()">APPROVE
                                {{prices.tokenSymbol}}</a>
                            <a *ngIf="waiting" href="{{tranurl}}{{tx}}" class="btn btn-danger btn-round"
                                title="Click to show transaction" target="_blank">WAITING ...</a>
                        </div>
                        <div class="buttons"
                            *ngIf="walletInfo?.wallet && walletInfo?.isConnected === true && allowed && fighter?.ownerOf.toLowerCase() === walletInfo?.wallet.toLowerCase()">
                            <a (click)="fight(fighter)"
                                *ngIf="allowedKennel && fighter.imageUploaded && !fighter?.waiting"
                                class="btn btn-primary btn-round"><span class="custom-badge"
                                    matBadgePosition="below after"
                                    [matBadge]="prices.fightPrice + ' ' +prices.fightSymbol"
                                    matBadgeOverlap="false">FIGHT</span></a>
                            <a *ngIf="!allowedKennel &&  walletInfo?.isConnected === true && !fighter?.waiting"
                                href="javascript: void(0);" class="btn btn-danger btn-round"
                                title="Approve KENNEL for fights" (click)="approveKennel()">APPROVE KENNEL</a>

                            <a (click)="train(fighter)" *ngIf="fighter.imageUploaded && !fighter?.waiting"
                                class="btn btn-success btn-round"><span class="custom-badge"
                                    matBadgePosition="below after"
                                    [matBadge]="prices.trainingPrice + ' '  +prices.tokenSymbol"
                                    matBadgeOverlap="false">TRAIN</span></a>
                            <a (click)="refillArmor(fighter)" *ngIf="fighter.imageUploaded && !fighter?.waiting"
                                class="btn btn-rose btn-round"><span class="custom-badge" matBadgePosition="below after"
                                    [matBadge]="prices.armorPrice + ' ' + prices.tokenSymbol"
                                    matBadgeOverlap="false">REFILL ARMOR</span></a>
                            <a (click)="revealFighter(fighter)" *ngIf="!fighter.imageUploaded && !fighter?.waiting"
                                class="btn btn-warning btn-round">REVEAL</a>
                            <a (click)="nameFighterPrep()" *ngIf="!fighter?.waiting"
                                class="btn btn-info btn-round"><span class="custom-badge" matBadgePosition="below after"
                                    [matBadge]="prices.namePrice + ' ' + prices.tokenSymbol" matBadgeOverlap="false">CHANGE
                                    NAME</span></a>
                            <a (click)="levelUp(fighter)"
                                *ngIf="fighter.imageUploaded && !fighter?.waiting && fighter.upgradable"
                                class="btn btn-warning btn-round"><span class="custom-badge"
                                    matBadgePosition="below after"
                                    [matBadge]="prices.lvlUpPrice + ' ' + prices.tokenSymbol"
                                    matBadgeOverlap="false">LEVEL UP</span></a>
                            <a href="{{tranurl}}{{fighter.tx}}"
                                *ngIf="fighter?.ownerOf.toLowerCase() === walletInfo?.wallet.toLowerCase() && fighter?.waiting"
                                class="btn btn-danger btn-round" title="Click to show transaction"
                                target="_blank">WAITING</a>
                        </div>
                    </div>
                    <div fxLayoutAlign="center" fxLayout="row wrap" fxLayoutGap="grid">
                        <div class="article" fxFlex="40%" fxFlex.xs="100%" fxFlex.sm="40%">
                            <div class="img">
                                <img src="{{fighter.metadata.image}}" onerror="this.src='/assets/img/siluette.png';">
                            </div>
                            <p>{{fighter.metadata.description}}</p>
                        </div>
                        <div class="article" fxFlex="40%" fxFlex.xs="100%" fxFlex.sm="40%">
                            <div class="row">
                                <div class="col-md-6 name">
                                    Name
                                </div>
                                <div class="col-md-6 name">
                                    {{fighter.metadata.name}}
                                </div>
                            </div>
                            <div class="row" *ngFor="let attr of fighter.metadata.attributes">
                                <div class="col-md-6">
                                    {{attr.trait_type}}
                                </div>
                                <div class="col-md-6">
                                    {{attr.value}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="buttons center">
                        <a routerLink="/squad/{{address}}" class="btn btn-primary btn-round">SQUAD</a>
                        <a routerLink="/history/{{address}}/{{id}}" class="btn btn-warning btn-round">FIGHT HISTORY</a>
                        <!-- <a (click)="challengeCopy()" class="btn btn-warning btn-round">CHALLENGE COPY</a> -->
                    </div>
                </mat-drawer-content>
            </mat-drawer-container>
            <app-fancy-dialog [(visible)]="attackResults?.result && showDialog">
                <h1 class="center">You {{attackResults?.result}}!!</h1>
                <div fxLayoutAlign="center" fxLayout="row wrap" fxLayoutGap="grid">
                    <div class="article fancy" fxFlex="40%" fxFlex.xs="100%" fxFlex.sm="40%">
                        <div class="title">Attacker</div>
                        <div class="img">
                            <a routerLink="/detail/{{attackResults?.attacker?.address}}/{{attackResults?.attacker?.token}}"
                                target="_blank"><img src="{{attackResults?.attacker?.metadata.image}}"
                                    onerror="this.src='/assets/img/siluette.png';"></a>
                        </div>
                        <p>{{attackResults?.attacker?.metadata?.name}}</p>
                    </div>
                    <div class="article fancy" fxFlex="40%" fxFlex.xs="100%" fxFlex.sm="40%">
                        <div class="title">Defender</div>
                        <div class="img">
                            <a routerLink="/detail/{{attackResults?.defender?.address}}/{{attackResults?.defender?.token}}"
                                target="_blank"><img src="{{attackResults?.defender?.metadata.image}}"
                                    onerror="this.src='/assets/img/siluette.png';"></a>
                        </div>
                        <p>{{attackResults?.defender?.metadata?.name}}</p>
                    </div>
                </div>
            </app-fancy-dialog>
            <app-fancy-dialog [(visible)]="showName">
                <div class="fighter-name">
                    <h1>Name your fighter</h1>
                    <div class="input"><input type="text" placeholder="Fighter name" [(ngModel)]="fighterName">
                        <br><a (click)="nameFighter(fighter)" *ngIf="!waiting" class="btn btn-danger btn-round"><span
                                class="custom-badge" matBadgePosition="below after" matBadgeOverlap="false">NAME
                                FIGHTER</span></a>
                    </div>
                </div>
            </app-fancy-dialog>
        </div>
    </div>
    <app-page-bottom></app-page-bottom>
</div>I