<div class="footer">
    <div class="disclaimer">Disclaimer: TokenKennel is not responsible for any monetary, or token loss due to the
        usage of our platform. Please use at your own risk.</div>
    <div class="copyright">© 2022 TokenKennel</div>
    <div class="contact">info@thetokenkennel.com <span class="telegram">
            <a href="https://t.me/KennelSphere" class="Telegram" target="_blank">
                <fa-icon [icon]="faTelegram"></fa-icon>
            </a>
        </span></div>
</div>